'scopeName': 'internal.text.html.polymer.inline'

'patterns': [

  { 'include': '#polymer-inline' }

]

'repository':

  'polymer-inline':
    'name': 'meta.tag.inline.polymer'
    'begin': '(\\{\\{)(?:(?:([\\w\\.]+)\\()+([\\w\\.,\\s*]+)(?:\\)+)|([\\w\\.]+)(::[\\w\\-]+)|([\\w\\.]+))'
    'end': '(\\}\\})'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.inline.polymer'
      '2':
        'name': 'support.function.builtin.inline.polymer'
      '3':
        'name': 'entity.name.function.inline.polymer'
      '4':
        'name': 'entity.name.function.inline.polymer'
      '5':
        'name': 'entity.keyword.control.polymer'
      '6':
        'name': 'entity.name.function.inline.polymer'
    'patterns': [
      { 'include': 'internal.text.html.polymer.curley' }
    ]